<div class="map-container">
  <google-map height="100%" width="100%" [options]="mapOptions" [center]="center" [zoom]="zoom">
    
    <!-- CORRECCIÓN: Usamos ng-container para iterar sobre las rutas -->
    <ng-container *ngFor="let route of routes">
      <map-polyline [path]="route.path" [options]="route.options"></map-polyline>
    </ng-container>

    <!-- CORRECCIÓN: Usamos ng-container para iterar sobre los marcadores -->
    <ng-container *ngFor="let marker of markers">
      <map-marker [position]="marker.position" [options]="marker.options"></map-marker>
    </ng-container>

  </google-map>
</div>